<nav class="flex justify-between px-20 py-10 shadow-xl items-center">
    <!-- Left list -->
    <ul>
        <a routerLink="">
            <h1 class="font-bold text-4xl">MarsTown</h1>
        </a>
    </ul>

    <!-- Right list -->
    <ul class="flex gap-5 items-center">
        <li class="hover:underline hover:underline-offset-4"><a routerLink="/">Menu</a></li>
        <div *ngIf="isLoggedIn" class="mb-3">
            <app-cart-button></app-cart-button>
        </div>
        <div class="m-6"></div>
        <button *ngIf="!isLoggedIn" routerLink="/login" class="bg-blue-500 px-5 py-2 text-white rounded-md shadow-xl transition hover:ease-out hover:scale-110 duration">Login</button>
        <button *ngIf="isLoggedIn" (click)="logout()" class="bg-red-500 px-5 py-2 text-white rounded-md shadow-xl transition hover:ease-out hover:scale-110 duration">Logout</button>
        <button routerLink="/signup" class="bg-green-500 px-5 py-2 text-white rounded-md shadow-xl transition hover:ease-out hover:scale-110 duration">Sign up</button>
    </ul>
</nav>
