<nav class="flex justify-between px-20 py-10 shadow-xl items-center">
    <!-- Left list -->
    <ul>
        <h1 class="font-bold text-4xl">MarsTown</h1>
    </ul>

    <!-- Right list -->
    <ul class="flex gap-5 items-center">
        <li class="hover:underline hover:underline-offset-4"><a routerLink="/">Home</a></li>
        <button routerLink="/login" class="bg-blue-500 px-5 py-2 text-white rounded-md shadow-xl transition hover:ease-out hover:scale-110 duration">Login</button>
        <button routerLink="/signup" class="bg-green-500 px-5 py-2 text-white rounded-md shadow-xl transition hover:ease-out hover:scale-110 duration">Sign up</button>
    </ul>
</nav>
