<div class="flex flex-col items-center">
    <div class="flex flex-col items-center gap-10 my-20">
        <h1 class="font-bold text-4xl">{{ menu.name | uppercase}}</h1>

        <section 
            *ngFor="let menuSection of menu.menuSections"
            class="menu menu-section">
            <h1 class="menu-section font-bold text-xl">
                {{ menuSection.name }}
            </h1>
            <div class="flex menu-items my-5">
                <a 
                    routerLink="/menuItem"
                    [state]="{ menuItem: menuItem }"
                    class="flex border-2 border-slate-500 p-4"
                    *ngFor="let menuItem of menuSection.menuItems">
                        <div class="flex flex-col">
                            <p class="text-lg">{{ menuItem.name }}</p>
                            <p class="text-sm text-slate-500">{{ menuItem.description }}</p>
                        </div>
                        <div class="flex flex-col">
                            <p class="text-sm text-slate-700">{{ getCurrencySymbol(menuItem.menuItemOffers[0].currency) }} {{ getLowestOfferPrice(menuItem) }}</p>
                        </div>
                </a>
            </div>
        </section>
    </div>
</div>