<div class="flex flex-col items-center">
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()" class="flex flex-col items-center gap-10 my-20 shadow-xl p-20 rounded-md">
        <h1 class="font-bold text-4xl">LOGIN</h1>
        <label class="flex flex-col">
            Username:
            <input class="bg-slate-300 px-5 py-2 rounded-md shadow-xl transition focus:ease-out focus:scale-110 duration-300" type="text" placeholder="Username" formControlName="username" />
        </label>
    
        <ng-container
            class="flex flex-col"
            *ngIf="loginForm.controls['username']?.errors">
            <small
                class="text-red-500"
                *ngIf="loginForm.controls['username']?.touched">
                Username cannot be empty
            </small>
        </ng-container>
    
        <label class="flex flex-col">
            Password:
            <input class="bg-slate-300 px-5 py-2 rounded-md shadow-xl transition focus:ease-out focus:scale-110 duration-300" type="password" placeholder="Password" formControlName="password" />
        </label>

        <ng-container 
            *ngIf="loginForm.controls['password']?.errors">
            <small
                class="text-red-500"
                *ngIf="loginForm.controls['password']?.touched">
                Password cannot be empty
            </small>
        </ng-container>
    
        <button type="submit"  class="bg-slate-800 px-5 py-2 text-white rounded-md shadow-xl transition hover:ease-out hover:scale-110 duration" [disabled]="!this.loginForm.valid">Login</button>
        <a class="text-blue-500 underline underline-offset-4" routerLink="/signup">Don't have an account?</a>
    </form>
</div>