<div
    class="flex flex-col items-center my-20">
    <h1 class="font-bold text-4xl">Error</h1>
        <div
            class="flex flex-col items-center mt-16">
            <i class="pi pi-exclamation-triangle text-slate-700"
                style="font-size: 20.5rem"></i>
            <h1 class="font-bold text-6xl text-slate-700 mt-8">404</h1>
            <p class="mt-12 text-slate-700">We couldn't find that page!</p>
    </div>
    <div class="flex flex-col items-center">
        <button
            routerLink="/"
            class="mt-12 w-60 bg-blue-500 px-5 py-2 text-white shadow-xl transition hover:ease-out hover:scale-110 duration rounded-full">Return To Menu</button>
    </div>
</div>