/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeicons/primeicons.css";

body {
  @apply font-mono;
}

body {
  font-family: var(--font-family);
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.p-toast {
  opacity: 1;
}

hr {
  height: 0.05rem;
}
